.container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    
}

.item {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    flex: 0 1 auto;
    background-color: brown;
    color: white;
    text-align: center;
    border-color: white;
    border-width: 5px;
    padding: 2px;
    font-size: 30px;
}